body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #94A864;
      
  }
  .form-border {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      
      
    }
    img {
      display: block;
      margin: auto;
      width: 50%;
    }
  .form-block{
      display: flex;
      justify-content: center;
      align-items: center;
      border-color: black;
      background-color: gray;
      border-radius: 10px;
      width: 100%;
      max-width: 500px;
      
      
  
  }
  
  .form-style{
      background-color: #9a9c9c;
      border: 2px solid gray;
      padding: 1rem;
      border-radius: 12px;
      text-align: center;
  
  
  }
  
  .form-style button{
      width: 40%;
      padding: 0.6rem 2rem;
      background-color: #848787;
      border-radius: 10px;
      margin-top: 1rem; 
      font-size:15px;
  }
  .user{
      width: 70%;
      border: 1px solid;
      border-radius: 9px;
      border-color: black;
      margin-bottom: 0.9rem;
      padding: 0.8rem;
      background-color: #848787;
  }
  
  .form-style button:hover{
      background-color: #595a5a;
      transform: translateY(-2px);
      
  }
  
  