
body{
    background-color: #94A864;
    margin-top: 100px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
}

.dashboard-title {
    color: #F5F1E3;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 60px;

}

.header-dashboard{
    color: #F5F1E3;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 45px;
}

.dashboard-login-description{
    color: #F5F1E3;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 25px;
    margin-top: 10px;
}

.new-plan-button{
    background-color: #5D5D5D;
    color: #F5F1E3;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.new-plan-button:hover{
    background-color: darkgray;
    transition: 0.3s;
    color: black;
}

.plans{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0%;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    
}

.plans-title{
    color: #F5F1E3;
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 20px;
    font-size: 20px;
}

.plans-carousel{
   
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.plan-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  
}


.card {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: visible;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    min-width: 200px;
    min-height: 300px;
    margin: 0px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    background: #324732;
    gap: 20px;
    height: 100%;
    margin: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    
}

.card-content {
    display: flex;
    flex-direction: column; 
    flex: 1;
    align-items: center;
    justify-content: flex-start; 
    gap: 16px;
    height: 100%;
    width: 100%;
    margin-bottom: 20px;
}

.card h1{
    color: #F5F1E3;
    font-size: 25px;
    font: 'Poppins';
    margin-bottom: 10px;
    padding-top: 15px;
}

.plan-flex-container{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
    overflow-x: visible;
    overflow-y: visible;
    height: auto;
    min-height: auto;
    gap: 0;
}

.meal-plan-button {
    
    background-color: #5D5D5D;
    color: #F5F1E3;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.meal-plan-button:hover{
    background-color: darkgray;
    transition: 0.3s;
    color: black;
}

.edit-meal{
    background-color: #5D5D5D;
    color: #F5F1E3;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    width: 60%;
    height: 35px;
    padding-left: 27.5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 20%;
    padding-top: 2px;
}

.edit-meal:hover{
    background-color: darkgray;
    transition: 0.3s;
    color: black;
}

.dayComponent h3{
    color: #F5F1E3;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}

.dayComponent ul{
    text-align: center;
    list-style: none;
    font-size: 18px;
    color: #F5F1E3;
    font-family: 'Nunito Sans', sans-serif;
}

.button-wrapper {
    margin-top: 40px; /* Pushes this block to the bottom */
    display: flex;
    flex-direction: column;
    gap: 6px; /* space between buttons */
    align-self: flex-end;
}

.meal-add-button{
    background-color: #5D5D5D;
    color: #F5F1E3;
    width: 120px;
    height: 35px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    /* margin-top: 10px; */
    align-self: center;
    padding: 5px;
    max-width: 125px;
}

.meal-add-button:hover{
    background-color: darkgray;
    transition: 0.3s;
    color: black;
}

.quick-add-button{
    background-color: #5D5D5D;
    color: #F5F1E3;
    width: 120px;
    height: 35px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    /* margin-top: 10px; */
    align-self: center;
    padding: 5px;
    max-width: 125px;
}


.quick-add-button .button-text,
.meal-add-button .button-text{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 17px;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.quick-add-button:hover{
    background-color: darkgray;
    transition: 0.3s;
    color: black;
}

.meal-form-overlay {
    position: fixed;
    animation: fadeIn 0.3s ease;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(6px);
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    padding: 4rem 1rem; 
    box-sizing: border-box;
  }
  
  
  .meal-form-modal {
    background-color: #00000000;
    padding: 30px;
    border-radius: 10px;
    width: 600px;
    max-width: 95%;
    max-height: 85vh;
    overflow-y:auto;
    z-index: 1000;
    font-family: 'Nunito Sans', sans-serif;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
  }

  .save-plan-button {
    background-color: #5D5D5D;
    color: #F5F1E3;
    width: 120px;
    height: 35px;
    border-radius: 5px;
    border: none;
    cursor: pointer; 
    align-self: center;
    padding: 5px;
    max-width: 125px;
  }

  .save-plan-button:hover{
    background-color: darkgray;
    transition: 0.3s;
    color: black;
  }

  .delete-plan-button {
    background-color: #800000;
    color: #F5F1E3;
    width: 120px;
    height: 35px;
    border-radius: 5px;
    border: none;
    cursor: pointer; 
    align-self: center;
    padding: 5px;
    max-width: 125px;
  }

.delete-plan-button:hover {
    background-color: darkgray;
    transition: 0.3s;
    color: black;
 }

.plan-flex-container-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.plan-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

@media(max-width:600px) and (orientation: portrait){
    body{
        max-width: 600px;
    }
    .dashboard-container {
        display: flex;
        flex-direction: column;
        
       
    }
    
    .plans-carousel{
        display:flex;
        flex-direction: column;
        justify-content: start;
        justify-content: start;
    }
    .plan-container{
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    .plan-flex-container{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
    }
    .card{
        width: 400px;
    }

}