/* Form Container */
.meal-form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #94A864;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Image */
.meal-form-container img {
  display: block;
  margin: 0 auto;
  max-width: 60%;
  height: auto;
}

/* Form Styles */
.form-style {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Input Fields */
.meal {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
  color: #F5F1E3;
}

/* Labels */
label {
  font-size: 16px;
  font-weight: bold;
  color: #F5F1E3;
}

.checkbox-area {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

label[for="cheap"] {

  margin: 10px;
  white-space: nowrap;
}

/* Input Field Layout */
input[type="checkbox"] {
  margin: 10px;
}

/* Button */
.submit-form-button {
  padding: 12px;
  background-color: #324732; 
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  width: 100%;
}

.submit-form-button:hover {
  background-color: #5D5D5D;
}

/* Responsive Design */
@media (max-width: 768px) {
  .meal-form-container {
      padding: 10px;
  }
  .form-style {
      gap: 12px;
  }
}